/*21-4-25 Introductory CSS, Selectors and Specificity*/

* { /* Universal selector */
    border: 1px solid red;
  }
  
  p { /* Type selector */
    color: green;
  }
  
  h1 { /* Type selector */
    color: maroon;
  }
  
  .title { /* Class selector */
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title { /* ID selector */
    font-family: cursive;
  }
  
  a[href*='florence'] { /* Attribute selector */
    color: lightgreen;
  }
  
  a[href*='beijing'] {
    color: lightblue;
  }
  
  a[href*='seoul'] {
    color: lightpink;
  }
  
  a:hover { /* Pseudo-class selector */
    color:darkorange;
  }
  
  .heading-background { 
    background-color: aqua;
  }
  
  #publish-time {
    color: lightgray;
  }

  h5 { /* Type selector */
    color: yellow;
  }

  .author-class {
    color: pink;
  }

  #author-id {
    color: cornflowerblue
  }

  h2.destination { /* Type selector - Chain */ 
    font-family: Tahoma;
  }

  .description h5 {
    color: blueviolet;
  }

  .destination li h4 { /* Type selector - Descendant */
    color: gold;
  }

  h4 {
    color: dodgerblue;
  }

  h5,
  li { /* Grouping selector */
    font-family: monospace;
  }
  